<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Actionable emails e.g. reset password</title>
    {% load staticfiles %}
        <link rel="stylesheet" href="{{ EMAIL_STATIC_FOLDER }}emails/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="{{ EMAIL_STATIC_FOLDER }}emails/css/bootstrap_brand.css" type="text/css"/>
        <link rel="stylesheet" href="{{ EMAIL_STATIC_FOLDER }}emails/css/styles.css" type="text/css"/>
    </head>

    <body itemscope itemtype="http://schema.org/EmailMessage">
        <table class="body-wrap" style="margin-left:20px;">
            <tr>
                <td></td>
                <td class="container" width="600">
                    <div class="content">
                        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                            <tr>
                                <td class="content-wrap">
                                    <meta itemprop="name" content="Confirm Email"/>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="text-right">
                                                <img src="{{ EMAIL_STATIC_FOLDER }}emails/logo.png" width ="200px" height= "100px" style="margin-bottom:30px;">
                                                <br/>
                                            </td>
                                        </tr>
                                        {% block content %}
                                        {% endblock %}
                                        <tr>
                                            <td class="content-block">
                                              All the best!
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                    <td></td>
            </tr>
        </table>

</body>
</html>