@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@page {
    size: 8.3in 11.7in; 
    margin: 0.5in 0.5in 0.5in 0.5in; 

    font-family: 'Lato', sans-serif; 
    
    @bottom-right {
	content: "Seite " counter(page) "/" counter(pages);
	
	font-size: 9pt; 
    }
    
}

* { box-sizing: border-box; }

table {
    table-layout: fixed;
    border-collapse: collapse;

    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    text-align: left;
}
.header > .logo {
    width: 72pt;
    height: 72pt; 
}
.header > .header-text {
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif; 
    color: #666; 
}
.header > .logo, .header > .header-text {
    display: inline-block;
    vertical-align: middle; 
}


.info-small, .info, .info-table, .info-header {
    font-size: 11pt;
    font-family: 'Lato', sans-serif;

    padding-top: 0.2in;
    padding-bottom: 0.2in; 
}
.info-small {
    font-size: 9pt;
}
.info-table {
    width: 6in; 
}
.info-table > tr > td {
    width: 50%; 
}
.info-header {
    font-size: 14pt; 
}

.wide-table {
    width: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 10pt; 
}
.wide-table > thead, .wide-table > tfoot {
    border-color: #000;
    border-top: 1pt solid;
    border-bottom: 1pt solid;

    font-weight: bold; 
}
.wide-table td {
    padding-top: 2pt;
    padding-bottom: 2pt; 
}
.wide-table td:nth-child(1) {
    text-align: left; 
}
.wide-table td:nth-child(2) {
    text-align: right; 
}

.forced-page-break {
    page-break-after: always; 
}

p, li {
    line-height: 15pt;
    margin-bottom: 3pt; 
}
