{% extends "admin/base_site.html" %}
{% load i18n admin_static humanize %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    <script>

        $(document).ready(function () {

            var socket = new WebSocket('ws://' + window.location.host + '/users/');

            socket.onopen = function open() {
                console.log('Admin WebSockets connection created.');
            };

            socket.onmessage = function message(event) {

                var data = JSON.parse(event.data);

                console.log("Received new data: " + event.data);

                // NOTE: We escape JavaScript to prevent XSS attacks.
                var username = encodeURI(data['username']);

                var user_list = $('#users_online_list')

                 var user = $(user_list).find('li').filter(function () {
                        return $(this).data('username') == username;
                    });

                if (data['is_logged_in']) {
                    if (user.length == 0) {
                        user_list.append("<li data-username='" + data['username'] + "'>" + data['full_name'] + "</li>")
                    }
                }
                else {
                    if (user) {
                        user.remove();
                    }
                }

                $('#users_online_count').html("Users online (" + $(user_list).find('li').length + ")")
            };

            if (socket.readyState == WebSocket.OPEN) {
                socket.onopen();
            }

        });


    </script>
{% endblock extrahead %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        {% if app_list %}
            {% for app in app_list %}
                <div class="module">
                    <table class="table-overview applist"
                           summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
                        <caption><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></caption>
                        {% for model in app.models %}
                            <tr>
                                <th scope="row">{{ model.name }}</th>
                                {% if model.admin_url %}
                                    <td>
                                        <a href="{{ model.admin_url }}" class="changelink icon">{% trans 'Change' %}</a>
                                    </td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}

                                {% if model.add_url %}
                                    <td><a href="{{ model.add_url }}" class="addlink icon"><i
                                            class="icon-plus-sign icon-alpha75"></i>{% trans 'Add' %}
                                    </a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}
    </div>
{% endblock %}


{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h4 class="italic-title">{% trans 'My Actions' %}</h4>

            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

                            <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

                            {% spaceless %}
                                {% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
                                {% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
                                {% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

                                {% if entry.content_type %}
                                    <span class="mini quiet">{% filter capfirst %}
                                        {% trans entry.content_type.name %}{% endfilter %}</span>
                                {% else %}
                                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                                {% endif %}
                            {% endspaceless %}&nbsp;

                            {% if entry.is_deletion or not entry.get_admin_url %}
                                <span class="color-grey">{{ entry.object_repr }}</span>
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="module" id="admin-links-module">
            <h4 class="italic-title">{% trans 'About' %}</h4>
            <ul class="actionlist">
                <li>Current Site: {{ request.current_site.name }}, {{ request.site.name }}</li>

                <li>Python Version: {{ python_version }}</li>
                <li>Django Version: {{ django_version }}</li>
                {% if ON_HEROKU %}
                    <li>Version: {{ HEROKU_RELEASE_VERSION }} ({{ HEROKU_RELEASE_CREATED_AT|naturaltime }})</li>
                    <li>Commit: {{ HEROKU_SLUG_COMMIT }}</li>
                {% else %}
                    <li><strong>Running locally!</strong></li>
                {% endif %}

            </ul>
        </div>
        <div class="module" id="user-online-module" style="margin-top:30px;">
            <h4 class="italic-title" id="users_online_count">{% trans 'Users online' %} ({{ users.count }})</h4>
            <ul class="actionlist" id="users_online_list">
                {% for user in users %}
                    {% if user.status == "online" %}
                        <li data-username="{{ user.username|escape }}">
                            {{ user.full_name|escape }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
