{% load i18n humanize static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ PROJECT_NAME }}">
    <meta name="author" content="Tivix, Inc.">

    <title>{{ PROJECT_NAME }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.2.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.2.0-theme.min.css' %}">

    <style>
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ PROJECT_NAME }}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a target="_self" href="{% url 'admin:index' %}">Administration</a></li>
            <li><a target="_self" href="{% url 'api_docs' %}">API Docs</a></li>
            <li><a style="color:#fff;" href="#">{{ request.user }}</a></li>

        </ul>


    </div>
</div>


<div class="container" role="main">
    {% block content %}{% endblock %}
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted text-center"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="156" height="20"><linearGradient id="b" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="a"><rect width="156" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#a)"><path fill="#555" d="M0 0h57v20H0z"/><path fill="#007ec6" d="M57 0h99v20H57z"/><path fill="url(#b)" d="M0 0h156v20H0z"/></g><g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11"><text x="28.5" y="15" fill="#010101" fill-opacity=".3">made by</text><text x="28.5" y="14">made by</text><text x="105.5" y="15" fill="#010101" fill-opacity=".3">unicorn.supplies</text><text x="105.5" y="14">unicorn.supplies</text></g></svg>
        </p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.11.1.js' %}"></script>
<script src="{% static 'js/bootstrap-3.2.0.min.js' %}"></script>

{% if SENTRY_FRONTEND_DSN %}
    <script src="{% static 'js/raven.min.js' %}"></script>

    <script type="text/javascript">
        Raven.config('{{ SENTRY_FRONTEND_DSN }}').install()
    </script>

{% endif %}

{% block script %}{% endblock %}
</body>
</html>
