{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h3>Please set a new password</h3>
        <hr/>
        <!-- Signup form -->
        <form class="form-horizontal ajax-post" role="form"
              action="{% url 'api:rest_password_reset_confirm' %}">{% csrf_token %}
            <input name="uid" type="hidden" class="form-control" id="uid" placeholder="Uid">
            <input name="token" type="hidden" class="form-control" id="token" placeholder="Token">

            <div class="form-group">
                <label for="new_password1" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10">
                    <input name="new_password1" type="password" class="form-control" id="new_password1"
                           placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="new_password2" class="col-sm-2 control-label">Repeat password</label>
                <div class="col-sm-10">
                    <input name="new_password2" type="password" class="form-control" id="new_password2"
                           placeholder="Repeat password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Set new password</button>
                </div>
            </div>

            <div class="form-group api-response"></div>
        </form>
    </div>
{% endblock %}



{% block script %}
    <script type="text/javascript">
        var url_elements = window.location.pathname.split('/');
        if (url_elements.length == 6) {
            var uid = url_elements[url_elements.length - 3];
            if (uid !== undefined) {
                $('input[name=uid]').val(uid);
            }
            var token = url_elements[url_elements.length - 2];
            if (token !== undefined) {
                $('input[name=token]').val(token);
            }
        }
    </script>
{% endblock %}
